<div class="right-sidebar">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center pt-4">
      <li class="nav-item">
        <a href="#" class="nav-link text-secondary p-3 border-bottom">
            <i class="fa-solid fa-graduation-cap me-2 fa-lg"></i>
            <br>
            <span class="small">item 1</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary p-3  border-bottom">
            <i class="fa-solid fa-graduation-cap me-2 fa-lg"></i>
            <br>
            <span class="small">item 2</span>
        </a>
      </li>
    </ul>
</div>