<div class="left-sidebar">
    <a href="/" class="d-block p-3 py-4 link-dark text-decoration-none">
        <img src="assets/icons/logo.svg" alt="Logo" width="54" height="40" />
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
          <a href="#" class="nav-link text-secondary py-3 border-bottom border-top">
              <i class="fas fa-home me-2 fa-lg"></i>
              <br>
              <span class="small">item 1</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-secondary py-3 border-bottom">
              <i class="fas fa-home me-2 fa-lg"></i>
              <br>
              <span class="small">item 2</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-secondary py-3 border-bottom">
              <i class="fas fa-home me-2 fa-lg"></i>
              <br>
              <span class="small">item 3</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-secondary py-3 border-bottom">
              <i class="fas fa-home me-2 fa-lg"></i>
              <br>
              <span class="small">item 4</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-secondary py-3 border-bottom">
              <i class="fas fa-home me-2 fa-lg"></i>
              <br>
              <span class="small">item 5</span>
          </a>
        </li>
      </ul>
</div>