<p>dashboard works!</p>
<p>{{user.firstName}}</p>
<p>{{user.totalDeductions + user.netTotal | currency:'R '}}</p>
<p>{{user.totalDeductions | currency:'R '}}</p>
<p>{{user.netTotal | currency:'R '}}</p>
<p>{{user.uif | currency:'R '}}</p>
<p>{{user.paye | currency:'R '}}</p>
<p>{{user.total | currency:'R '}}</p>

<div *ngFor="let employee of employees">
    <p>{{employee.role}}</p>
    <p>{{employee.description}}</p> 
    <p>{{employee.type}}</p>      
    <p>{{employee.quantity}}</p>
    <p>{{employee.rate | currency:'R '}}</p>
    <p>{{employee.primaryAction}}</p>
</div>